<h1>Todos</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Summary</th>
    <th></th>
  </tr>
  <div *ngFor="let todo of todos">
  <tr>
    <td>{todo.id}</td>
    <td>{todo.description}</td>
    <td>{todo.summary}</td>
    <td>
      <button>Delete</button>
    </td>
  </tr>
  </div>
</table>
<button>Refresh</button>
<h2>Todo</h2>
<label for="desc">Description:</label><br>
<input type="text" id="desc" name="desc"><br>
<label for="sum">Summary:</label><br>
<input type="text" id="sum" name="sum"><br>
<button>Add</button>
